html {
  font-size: 16px;
}

body {
  margin: 0 auto;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 960px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 1.5rem;

}

.logo img {
  height: 3rem;
}

.colmar {
  color: grey;
}

.nav {
  display: inline-flex;
  margin-right: 1.5rem;

}

.nav span {
  align-items: center;
  margin-left: 1rem;
}

/* Banner*/

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

#banner {
  background-color: lightgrey;
  font-family: "Lato", sans-serif;
}

#banner img {
  margin: 2rem .75rem 2rem 1.5rem;
  width: 60%;
  height: 40%;
}

.banner-content {
  margin: 2rem 1.5rem 2rem .75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding-right: 4rem;
}

.banner-content h1 {
  color: #56595e;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.banner-content h3 {
  color: #56595e;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.banner-btn {
  text-align: center;
  color: lightgrey;
  background-color: #56595e;
  padding: .5rem 0;
}

/*Info*/

#info {
  font-family: "Merriweather", serif;
  background-color: #f2f2f3;
}

.left-content {
  display: flex;
  flex-direction: column;
  margin: 2rem 1.5rem;
  width: 60%;
  color: #56595e;
}

.left-img img {
  width: 100%;
}

#info h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 2rem 0 1.5rem 0;
}

.left-content p {
  margin-bottom: 2rem;
}

.left-content span {
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid lightgrey;
  color: #56595e;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 1rem;
}

.top,
.mid,
.bottom {
  display: inline-flex;
  padding: 2rem 0;
}

.top-img,
.mid-img,
.bottom-img {
  width: 35%;
  height: auto;
  margin-left: 1rem;
}

.top-img img,
.mid-img img,
.bottom-img img {
  width: 100%;
  height: auto;
}

.right-content h3{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.right-content p{
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.right-content span{
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: blue;
}

.top {
  border-bottom: 2px solid lightgrey;
}

.bottom {
  background-color: lightgrey;
}

/* Courses*/

#learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather", serif;
  background-color: #e4e4e7;
}

.exhibit learn h2 {
  font-size: 1rem;
  font-weight: 900;
  color: #56595e;
  margin-top: 2rem;
}

.courses {
  margin: 2rem 4.5rem;
}

.course-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course {
  width: 30%;
  background-color: white;
  margin-bottom: 2rem;
}

.course h3,
.course span,
.course p {
  margin: 1rem;
}

.course h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #56595e;
}

.course span,
.course p {
  font-size: 0.75rem;
  color: #56595e;
}

.course img {
  height: auto;
  width: 100%;
}

/* Exhibit*/

.exhibits {
  font-family: "Merriweather", serif;
  background-color: #f2f2f3;
}

.exhibits h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  color: #56595e;
  margin-top: 2rem;
}

.exhibit-content {
  display: inline-flex;
}

.exhibits .left-content {
  display: flex;
  flex-direction: column;
  margin: 0rem 1.5rem;
  width: 60%;
  color: #56595e;
}

.exhibits .left-img video {
  width: 100%;
}

.exhibits h2 {
  font-size: 1rem;
  font-weight: 900;
  margin: 2rem 0 1.5rem 0;

}

.exhibits .left-content p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.exhibits .left-content h3 {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.exhibits .right-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #56595e;
  border: none;
  margin-top: 2.8rem;
}

.exhibits .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 1rem;
}

.exhibits.top,
.exhibits.mid {
  display: inline-flex;
  padding: 1rem 0;
}

.exhibits .top-img,
.exhibits .mid-img{
  width: 35%;
  height: auto;
  margin-left: 1rem;
}

.exhibits .top-img img,
.exhibits .mid-img img {
  width: 100%;
  height: auto;
}

.exhibits .right-content h3{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.exhibits .right-content p{
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.exhibits .right-content span{
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: blue;
}

.exhibits .top {
  background-color: lightgrey;
}

/* Footer */

footer {
  display: inline-flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  background-color: #f2f2f3;
  width: 100%;
  font-size: .75rem;
  padding: 1rem 0 2rem 0;
}

.copy{
  margin-left: 1.5rem;
}

.terms span {
  margin-right: 1rem;
}
