html {
  font-size: 16px;
}

body {
  margin: 0 auto;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 960px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 1.5rem;

}

.logo img {
  height: 3rem;
}

.colmar {
  color: grey;
}

.nav {
  display: inline-flex;
  margin-right: 1.5rem;

}

.nav span {
  align-items: center;
  margin-left: 1rem;
}

/* Banner*/

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

#banner {
  background-color: lightgrey;
  font-family: "Lato", sans-serif;
}

#banner img {
  margin: 2rem .75rem 2rem 1.5rem;
  width: 60%;
  height: 40%;
}

.banner-content {
  margin: 2rem 1.5rem 2rem .75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding-right: 4rem;
}

.banner-content h1 {
  color: #56595e;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.banner-content h3 {
  color: #56595e;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.banner-btn {
  text-align: center;
  color: lightgrey;
  background-color: #56595e;
  padding: .5rem 0;

}
